[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"

[scripts]
start = "uvicorn main:app --port=8888 --reload"
